# MaxMind GeoLite2 credentials for scripts/update-geoip.sh.
# Copy to .env (which is git-ignored) and fill in.
# Free account: https://www.maxmind.com/en/geolite2/signup
# Licence key:  https://www.maxmind.com/en/accounts/current/license-key
MAXMIND_ACCOUNT_ID=
MAXMIND_LICENSE_KEY=
